* {
  box-sizing: border-box;
}

span {
  display: block;
}

.center {
  height: 100vh;
  display: block;
  padding-top:25px;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
}

.center img {
  height: 35%;
  padding-top: 10px;
  padding-left: 22%;
}

.but1{
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #062EBB;
  color: white;
  font-weight: 500;
  margin-left: 65px;
  margin-top: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}